In [5]:
import pandas as pd
import os
from sqlalchemy import create_engine
from dotenv import load_dotenv
load_dotenv()

True

In [6]:
df = pd.read_csv('cadastro_estabelecimentos_cnes.csv', sep=";")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42807 entries, 0 to 42806
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CNES        42807 non-null  int64
 1   UF          42807 non-null  int64
 2   IBGE        42807 non-null  int64
 3   NOME        42806 non-null  object
 4   LOGRADOURO  42807 non-null  object
 5   BAIRRO      42807 non-null  object
 6   LATITUDE    40636 non-null  object
 7   LONGITUDE   40641 non-null  object
dtypes: int64(3), object(5)
memory usage: 2.6+ MB

In [7]:
df.head()

,CNES,UF,IBGE,NOME,LOGRADOURO,BAIRRO,LATITUDE,LONGITUDE
0,33820,52,520170,UNIDADE DE SAUDE DA FAMILIA PSF 307,RUA H,NOVO MUNDO,"-15,90682","-52,22545"
1,108,26,260290,USF ALTO DOS INDIOS,RUA 17,PONTE DOS CARVALHOS,"-8,28389","-35,0321"
2,116,26,260290,USF CHARNECA II,RUA 02,CHARNECA,"-8,28353","-35,02819"
3,124,26,260290,USF SAO FRANCISCO I,RUA MANOEL DOMINGOS BARROS,SAO FRANCISCO,"-8,287","-35,035"
4,132,26,260290,USF ROSARIO,RUA 01,ROSARIO,"-8,28389","-35,0321"

In [8]:
engine = create_engine(os.environ.get('DATABASE_URL'))
df.head(8000).to_sql('cadastro_estabelecimentos_cnes', engine, if_exists='replace', chunksize=500, method='multi')
print('Registros salvos com sucesso')

Registros salvos com sucesso