In [2]:
import os
import pandas as pd
from sqlalchemy import create_engine
import pycep_correios
import geopy

In [3]:
from dotenv import load_dotenv
load_dotenv()  # take environment variables from .env.
# conex√£o com o banco de dados SQL Server
engine = create_engine(os.environ.get('DATABASE_URL_SQL_SERVER'), echo=False)

In [4]:
sql = '''
SELECT [index]
      ,[UF]
      ,[MUNICIPIO]
      ,[ESTABELECIMENTO]
      ,[LOGRADOURO]
      ,[NUMERO]
      ,[BAIRRO]
  FROM [dbo].[unidades_vacinacao]
'''
df = pd.read_sql(sql, engine)
df.head()

In [ ]:

sql = '''
SELECT [CNES]
      ,[UF]
      ,[IBGE]
      ,[NOME]
      ,[LOGRADOURO]
      ,[BAIRRO]
      ,[LATITUDE]
      ,[LONGITUDE]
  FROM [dbo].[cadastro_estabelecimentos_cnes]
'''

df = pd.read_sql(sql, engine)
df.head()

2022-05-16 19:39:07,942 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2022-05-16 19:39:07,944 INFO sqlalchemy.engine.base.Engine ('\nSELECT [CNES]\n      ,[UF]\n      ,[IBGE]\n      ,[NOME]\n      ,[LOGRADOURO]\n      ,[BAIRRO]\n      ,[LATITUDE]\n      ,[LONGITUDE]\n  FROM [dbo].[cadastro_estabelecimentos_cnes]\n', 'dbo')
2022-05-16 19:39:08,489 INFO sqlalchemy.engine.base.OptionEngine
SELECT [CNES]
      ,[UF]
      ,[IBGE]
      ,[NOME]
      ,[LOGRADOURO]
      ,[BAIRRO]
      ,[LATITUDE]
      ,[LONGITUDE]
  FROM [dbo].[cadastro_estabelecimentos_cnes]

2022-05-16 19:39:08,490 INFO sqlalchemy.engine.base.OptionEngine ()

,CNES,UF,IBGE,NOME,LOGRADOURO,BAIRRO,LATITUDE,LONGITUDE
0,10162,50,500270,SESAU UBS DR IVAN HIDELBRAND DA COSTA BURITI,RUA JOSE SOARES DE ARAUJO,BURITI,-20.49071,-54.67119
1,10170,50,500270,SESAU UBS DR VESPASIANO BARBOSA MARTINS VILA P...,RUA DALILA SIQUEIRA,VILA POPULAR,-20.45282,-54.70452
2,10189,50,500270,SESAU UBS DR NICOLAU FRAGELLI LAR DO TRABALHADOR,RUA DOS NARCISOS,LAR DO TRABALHADOR,-20.45192,-54.64448
3,10197,50,500270,SESAU USF DR SUMIE IKEDA RODRIGUES SERRADINHO,RUA DELMIRO GOUVEIA,VILA SERRADINHO,-20.45873,-54.68441
4,10200,50,500270,SESAU USF DR HIROSE ADANIA BONANCA,RUA JARDIM SANTO INACIO,BONANCA,-20.49342,-54.66122