In [1]:
import os
import pandas as pd
from sqlalchemy import create_engine

In [2]:
from dotenv import load_dotenv
load_dotenv()  # take environment variables from .env.
# conex√£o com o banco de dados SQL Server
engine = create_engine(os.environ.get('DATABASE_URL_SQL_SERVER'), echo=False)

In [3]:
sql = '''
SELECT [index]
      ,[UF]
      ,[MUNICIPIO]
      ,[ESTABELECIMENTO]
      ,[LOGRADOURO]
      ,[NUMERO]
      ,[BAIRRO]
  FROM [dbo].[unidades_vacinacao]
'''
df = pd.read_sql(sql, engine)
df.head()

2022-05-16 19:38:52,374 INFO sqlalchemy.engine.base.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2022-05-16 19:38:52,375 INFO sqlalchemy.engine.base.Engine ()
2022-05-16 19:38:52,553 INFO sqlalchemy.engine.base.Engine SELECT schema_name()
2022-05-16 19:38:52,554 INFO sqlalchemy.engine.base.Engine ()
2022-05-16 19:38:52,908 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2022-05-16 19:38:52,910 INFO sqlalchemy.engine.base.Engine ()
2022-05-16 19:38:53,087 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS NVARCHAR(60)) AS anon_1
2022-05-16 19:38:53,088 INFO sqlalchemy.engine.base.Engine ()
2022-05-16 19:38:53,265 INFO sqlalchemy.engine.base.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2022-05-16 19:38:53,266 INFO sqlalchemy.engine.base.Engine ()
2022-05-16 19:38:53,624 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2022-05-16 19:38:53,625 INFO sqlalchemy.engine.base.Engine ('\nSELECT [index]\n      ,[UF]\n      ,[MUNICIPIO]\n      ,[ESTABELECIMENTO]\n      ,[LOGRADOURO]\n      ,[NUMERO]\n      ,[BAIRRO]\n  FROM [dbo].[unidades_vacinacao]\n', 'dbo')
2022-05-16 19:38:54,179 INFO sqlalchemy.engine.base.OptionEngine
SELECT [index]
      ,[UF]
      ,[MUNICIPIO]
      ,[ESTABELECIMENTO]
      ,[LOGRADOURO]
      ,[NUMERO]
      ,[BAIRRO]
  FROM [dbo].[unidades_vacinacao]

2022-05-16 19:38:54,180 INFO sqlalchemy.engine.base.OptionEngine ()

,index,UF,MUNICIPIO,ESTABELECIMENTO,LOGRADOURO,NUMERO,BAIRRO
0,0,AC,ACRELANDIA,UNIDADE DE SAUDE DA FAMILIA RICARDO MONTEIRO ROLA,RUA 07 QUEDAS,284,CENTRO
1,1,AC,ACRELANDIA,UNIDADE DE SAUDE DA FAMILIA JOAO DANIEL DAMASCENO,BR 364 KM 114,114,ZONA RURAL
2,2,AC,ACRELANDIA,UNIDADE MISTA DE SAUDE DE ACRELANDIA,AVENIDA PARANA,346,CENTRO
3,3,AC,ACRELANDIA,UNIDADE DE SAUDE DA FAMILIA CICERO BATISTA,BR 364 KM 90 RAMAL GRANADA KM 16,16,ZONA RURAL
4,4,AC,ACRELANDIA,UNIDADE DE SAUDE DA FAMILIA REDENCAO,AC 475 VILA REDENCAOI,None,ZONA RURAL

In [4]:

sql = '''
SELECT [CNES]
      ,[UF]
      ,[IBGE]
      ,[NOME]
      ,[LOGRADOURO]
      ,[BAIRRO]
      ,[LATITUDE]
      ,[LONGITUDE]
  FROM [dbo].[cadastro_estabelecimentos_cnes]
'''

df = pd.read_sql(sql, engine)
df.head()

2022-05-16 19:39:07,942 INFO sqlalchemy.engine.base.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA], [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME]
FROM [INFORMATION_SCHEMA].[COLUMNS]
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2022-05-16 19:39:07,944 INFO sqlalchemy.engine.base.Engine ('\nSELECT [CNES]\n      ,[UF]\n      ,[IBGE]\n      ,[NOME]\n      ,[LOGRADOURO]\n      ,[BAIRRO]\n      ,[LATITUDE]\n      ,[LONGITUDE]\n  FROM [dbo].[cadastro_estabelecimentos_cnes]\n', 'dbo')
2022-05-16 19:39:08,489 INFO sqlalchemy.engine.base.OptionEngine
SELECT [CNES]
      ,[UF]
      ,[IBGE]
      ,[NOME]
      ,[LOGRADOURO]
      ,[BAIRRO]
      ,[LATITUDE]
      ,[LONGITUDE]
  FROM [dbo].[cadastro_estabelecimentos_cnes]

2022-05-16 19:39:08,490 INFO sqlalchemy.engine.base.OptionEngine ()

,CNES,UF,IBGE,NOME,LOGRADOURO,BAIRRO,LATITUDE,LONGITUDE
0,10162,50,500270,SESAU UBS DR IVAN HIDELBRAND DA COSTA BURITI,RUA JOSE SOARES DE ARAUJO,BURITI,-20.49071,-54.67119
1,10170,50,500270,SESAU UBS DR VESPASIANO BARBOSA MARTINS VILA P...,RUA DALILA SIQUEIRA,VILA POPULAR,-20.45282,-54.70452
2,10189,50,500270,SESAU UBS DR NICOLAU FRAGELLI LAR DO TRABALHADOR,RUA DOS NARCISOS,LAR DO TRABALHADOR,-20.45192,-54.64448
3,10197,50,500270,SESAU USF DR SUMIE IKEDA RODRIGUES SERRADINHO,RUA DELMIRO GOUVEIA,VILA SERRADINHO,-20.45873,-54.68441
4,10200,50,500270,SESAU USF DR HIROSE ADANIA BONANCA,RUA JARDIM SANTO INACIO,BONANCA,-20.49342,-54.66122